


body{
    width: auto;
    max-width: 500px;
    height: 550px;
    margin:0px auto;
    align-content: center;
}

main{

    /*width: 600px;*/
    margin:5px auto ;
    text-align: center;
}

section{

    min-height: 400px;
    min-width:200px;
}

#what{
    font-family: Arial;
    font-size: 17px;
    color: dimgray;
}

nav{
    height: 300px;
    width: auto;
    margin:0px auto;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px;

}
#where{
    background-color: blue;
}
#who{
    background-color: red;
}

nav>button{

    margin: 10px;
    padding: 10px;
    font-family: helvetica;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: black;
    display: inline-block;
    border-radius: 20px;

}