


body{
    width: auto;
    max-width: 800px;
    max-height: 3250px;
    margin:0px auto;
    align-content: center;
    padding-top: 20px;
}

main{


    margin:0px auto ;
    height: auto;
    text-align: center;

}

section{

    min-height: 400px;
    min-width:200px;

}

#what{
    font-family: Arial;
    font-size: 17px;
    color: dimgray;
}
#what>button{
    padding: 10px;
    border-radius: 10px;
}

nav{
    height: auto;
    width: auto;
    margin:0px auto;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px;
    background-color: red;

}
#where{

}
#who{

}

nav>button{

    margin: 10px;
    padding: 10px;
    font-family: helvetica;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: black;
    display: inline-block;
    border-radius: 5px;

}